.body {
    color: rgb(34, 34, 96);
    background-color: rgb(225, 251, 246);
}

h1 {
    padding-left: 30px;
    padding-top: 30px;
}

.nav {
    padding: 30px;
    padding-top: 15px;
}

a.link  {
    font-size: 28px;
    color: rgb(34, 34, 96);
    text-decoration: none;
    margin-right: 30px;
}

a.link:hover {
    color: rgb(53, 116, 106);
}

.content {
    padding: 30px;
    font-size: 26px;
    color: rgba(15, 36, 71, 0.779);
    font-weight: 500;
    line-height: 1.5;
}

